@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,500,500italic,200,200italic,400italic,700,700italic);
body{font-family:'Titillium Web', Helvetica, Arial, sans-serif;;background-color: #efefef;font-size: 14px;margin-top: -20px}
h1{font-size: 20px;}
h2{font-size: 16px;}
a{color: red;}
a:hover{color:green;}
#wrapper{margin-left: auto;margin-right:auto;width:1024px;border-left: 1px solid #0000aa;border-right: 1px solid #0000aa;min-height:760px;}
#content{margin: 20px;}
#loader{width:500px;height:150px;border: 1px solid #aa0000;background-color: #fff;overflow: auto;}
.error{color: #990000;}
